html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 25em;
}

.container {
  width: 760px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 1em;
  margin-left: -1.5em;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  display: inline-block;
}

.logo-container {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  height: 8em;
}

input:focus {
  outline: none;
}

input, button {
  border-radius: 5px;
}

.white {
  color: #A86C08;
}

h2, h3 {
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}

h3 {
  width: 25em;
  margin: 0 auto;
  margin-top: 2em;
  line-height: 1.4;
  color: #e3f8ce;
}

#logo {
  width: 5em;
  display: inline-block; 
  position: relative;
  top: 0.25em;
  right: 2em;
}

#nav-links {
  width: 19em;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 2em;
  letter-spacing: 1px;
}

#nav-links > a {
  text-decoration: none;
  color: #fff;
}

#nav-links > a:hover {
  color: orange;
}

.link-pipe {
  margin: 0 0.5em;
  color: #fff;
}

button:focus {
  outline: none;
}


/*-----------Data Section----------*/

#data-section {
  width: 24em;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-bottom: 2em;
  background-color: rgba(227,248,206, 0.9);
  color: #333;
  position: relative;
}

ul {
  list-style: none;
  padding: 2em 2em 0em 2em;
}

input[type="submit"] {
  margin-left: 7em;
  margin-right: 1em;
  margin-top: 1em;
}

input[type="submit"], button {
  background-color: #FCBC54;
  border: none;
  padding: 0.25em 1em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

input[type="submit"]:hover,
button:hover {
  background-color: #FFCC79;
}

input[type="reset"] {
  background-color: #eee;
  padding: 0.25em 1em;
  border: none;
  font-weight: 300;
}

input[type="number"].ng-dirty.ng-invalid {
  border: 1px solid red;
}

input[type="number"].ng-dirty.ng-valid {
  border: 1px solid lightgreen;
}

input[type="number"].ng-pristine {
  border: none;
}

ul li {
  margin-bottom: 1em;
}

#second-li {
  margin-left: 3.1em;
}

#third-li {
  margin-left: 0.2em;
}

#data-section h2 {
  border-bottom: 1px solid #fff;
  margin: 0;
  text-align: center;
  padding: 0.5em 0;
  background-color: rgba(111, 141, 81, 0.8);
}

#meal-img {
  width: 2em;
  position: absolute;
  left: 1em;
  top: 0.6em;
}

.error {
  color: red;
  font-style: italic;
  margin: 0.3em 0 0.3em 3em;
}

.move {
  margin: 0.3em 0 0.3em 6em;
}

/*-------------Charges Section--------------*/

#charges-section,
#earnings-section {
  width: 20em;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-bottom: 2em;
  background-color: rgba(227,248,206, 0.9);
  position: relative;
}

#charges-section h2,
#earnings-section h2 {
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 0.5em 1em 0.5em 2.5em;
  background-color: rgba(111, 141, 81, 0.8);
}

#charges-section p,
#earnings-section p {
  margin-left: 1.5em;
}

#charges-img {
  width: 2em;
  position: absolute;
  top: 0.5em;
  left: 1em;
}

/*-------------Earnings Section--------------*/

#earnings-section {
  margin-top: 2em;
  width: 18.3125em;
}

#earnings-section h2 {
  padding: 0.5em 0 0.5em 2.5em;
}

#earnings-section p {
  padding: 0 1em 0 0.5em;
  margin-left: 1em;
  margin-right: 1.75em;
  
}

#earnings-img {
  width: 2em;
  position: absolute;
  top: 0.6em;
  left: 1em;
}

#reset-btn {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0.5em 1em;
}

/*-----------------ANIMATE VIEW------------------*/

.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

/*--------------MEDIA QUERIES---------------*/

@media only screen and (max-width: 1140px) {
    .container {
      width: 100%;
    }
}

@media only screen and (max-width: 725px) {
  .logo-container {
    width: 100%;
    text-align: center;
  }
}

